# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [ ]:
# write your answer here

tup1=(12,14,16,18,20)

print(tup1)

(12, 14, 16, 18, 20)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [ ]:
# write your answer here

tup1= (18,1.6,"Divya",False)

print(tup1)

(18, 1.6, 'Divya', False)

### Question 3
Find the length of a tuple containing names of 4 students.

In [ ]:
# write your answer here
students = "Aman", "Radhika", "Manthan", "Shikha"

print(len(students))

4

### Question 4
Access and print the last element of a tuple.

In [ ]:
# write your answer here

tup2= 9,12,15,18,21

print(tup2[-1])

21

### Question 5
Check whether an element exists in a tuple or not.

In [ ]:
# write your answer here

tup3= 1,2,3,4,5

print(6 in tup3)
print(2 in tup3)

False
True

### Question 6
Convert a tuple into a list.

In [ ]:
# write your answer here

tup4= 43,56,76,44,66,98,12

print(list(tup4))

[43, 56, 76, 44, 66, 98, 12]

### Question 7
Convert a list into a tuple.

In [ ]:
# write your answer here

list1= [45,65,76,87,98,45,655,23,24]

print(tuple(list1))

(45, 65, 76, 87, 98, 45, 655, 23, 24)

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [ ]:
# write your answer here

tup5= 1,1,1,2,2,2,2,3,3,3,3
for i in tup5:

  print(tup5.count(i))

3
3
3
4
4
4
4
4
4
4
4

### Question 9
Find the index of an element in a tuple.

In [ ]:
# write your answer here

tup9= 12,23,34,45,56,67,78,89,90

print(tup9.index(56))

4

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [ ]:
# write your answer here

tuple1= (12,45,65,34,78)

print(tuple1[2])

tuple1[2] = "apple"

print(tuple1)


#This function throws error, Hence, Tuples are immutable.

65

TypeError: 'tuple' object does not support item assignment