## Question 1 (Easy)

**Title:** Print 1 to 10

### Problem Statement:
Print numbers from 1 to 10 using a for loop.

### Approach:
Use `range(1, 11)` inside a `for` loop and print each value.

In [1]:
# write your code here

for i in range(1,11):
 print(i)

1
2
3
4
5
6
7
8
9
10

## Question 2 (Easy)

**Title:** Sum of First N Numbers

### Problem Statement:
Take an integer N as input and find the sum of numbers from 1 to N.

### Approach:
Initialize sum = 0, loop from 1 to N, add each value to sum.

In [2]:
# write your code here

n=int(input("enter the number:"))
sum=0
for i in range(1,n+1):
  sum=sum+i
print(sum)

enter the number:22
253

## Question 3 (Easy)

**Title:** Even Numbers from 1 to 50

### Problem Statement:
Print all even numbers between 1 and 50.

### Approach:
Loop from 1 to 50 and check `i % 2 == 0`.

In [3]:
# write your code here

for i in range(1,51):
 if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

## Question 4 (Easy)

**Title:** Count Multiples of 3

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by 3.

### Approach:
Use a counter variable and increment when `i % 3 == 0`.

In [11]:
n=int(input("enter the number:"))

count = 0
for i in range(1,n+1):
  if i%3==0:
    count += 1

print(f"Numbers divisible by 3 between 1 and {n}: {count}")

enter the number:31
Numbers divisible by 3 between 1 and 31: 10

## Question 5 (Easy)

**Title:** Multiplication Table

### Problem Statement:
Take a number as input and print its multiplication table from 1 to 10.

### Approach:
Loop from 1 to 10 and multiply with the input number.

In [5]:
# write your code here

n=int(input("Enter the number:"))

for i in range(1,11):
 print(f"{n} * {i} = {n*i}")

Enter the number:12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

## Question 6 (Easy)

**Title:** Factorial of a Number

### Problem Statement:
Take a number N as input and find its factorial.

### Approach:
Initialize fact = 1 and multiply values from 1 to N.

In [13]:
# write your code here

n=int(input("enter the number:"))
fact=1

for i in range(1,n+1):
  fact=fact*i

  print(fact)

enter the number:6
1
2
6
24
120
720

## Question 7 (Easy)

**Title:** Running Sum

### Problem Statement:
Take N as input and print the running sum from 1 to N.

### Approach:
Use a sum variable and update it in each iteration.

In [7]:
# write your code here


n=int(input())

sum=0
for i in range(1, n+1):
  sum=sum+i

print(sum)

5
15

## Question 8 (Easy)

**Title:** Add 5 to Each Number

### Problem Statement:
Take N as input and add 5 to each number from 1 to N and print the result.

### Approach:
Loop from 1 to N and use shorthand `value += 5`.

In [8]:
n=int(input("Enter the number:"))
for i in range(1, n + 1):
    print(i + 5)

Enter the number:10
6
7
8
9
10
11
12
13
14
15

## Question 9 (Easy)

**Title:** Count Even and Odd Numbers

### Problem Statement:
Take N as input and count how many even and odd numbers are there between 1 and N.

### Approach:
Use two counters and check with modulo operator.

In [9]:
n=int(input("Enter the number:"))
even_count = 0
odd_count = 0

for i in range(1, n + 1):
    if i % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print(f"Even numbers: {even_count}")
print(f"Odd numbers: {odd_count}")

Enter the number:20
Even numbers: 10
Odd numbers: 10

## Question 10 (Easy)

**Title:** Squares from 1 to N

### Problem Statement:
Take N as input and print the square of each number from 1 to N.

### Approach:
Use `i * i` inside the loop.

In [10]:
# write your code here

n=int(input("Enter the number:"))
for i in range(1,n+1):
  print(i*i)

Enter the number:12
1
4
9
16
25
36
49
64
81
100
121
144

## Question 11 (Medium)

**Title:** Sum of Even and Odd Separately

### Problem Statement:
Take N as input and find the sum of all even numbers and all odd numbers between 1 and N.

### Approach:
Use two sum variables and check each number with modulo.

In [14]:
n = int(input("Enter the number N:"))

even_sum = 0
odd_sum = 0

for i in range(1, n + 1):
    if i % 2 == 0:
        even_sum += i
    else:
        odd_sum += i

print(f"Sum of even numbers between 1 and {n}: {even_sum}")
print(f"Sum of odd numbers between 1 and {n}: {odd_sum}")

Enter the number N:42
Sum of even numbers between 1 and 42: 462
Sum of odd numbers between 1 and 42: 441

## Question 12 (Medium)

**Title:** Divisible by 3 and 5

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by both 3 and 5.

### Approach:
Use logical AND condition inside the loop.

In [15]:
n = int(input("Enter the number N:"))

count = 0
for i in range(1, n + 1):
    if i % 3 == 0 and i % 5 == 0:
        count += 1

print(f"Numbers divisible by both 3 and 5 between 1 and {n}: {count}")

Enter the number N:51
Numbers divisible by both 3 and 5 between 1 and 51: 3

## Question 13 (Medium)

**Title:** Skip Multiples of 4

### Problem Statement:
Take N as input and print numbers from 1 to N but skip multiples of 4.

### Approach:
Use `continue` when the number is divisible by 4.

In [17]:
n = int(input("Enter the number N:"))

for i in range(1, n + 1):
    if i % 4 == 0:
        continue
    print(i)

Enter the number N:19
1
2
3
5
6
7
9
10
11
13
14
15
17
18
19

## Question 14 (Medium)

**Title:** Find the Largest Number

### Problem Statement:
Take N as input and find the largest number between 1 and N using a loop.

### Approach:
Assume the first value as largest and update using `if`.

In [19]:
n = int(input("Enter the number N:"))
largest = 0

for i in range(1, n + 1):
    if i > largest:
        largest = i

print(f"The largest number between 1 and {n} is: {largest}")

Enter the number N:46
The largest number between 1 and 46 is: 46

## Question 15 (Medium)

**Title:** Power of a Number

### Problem Statement:
Take two numbers `a` and `b` as input and calculate `a` raised to the power `b` using a for loop.

### Approach:
Initialize result = 1 and multiply it `b` times.

In [21]:
# write your code here

a=int(input("enter the number:"))
b=int(input("enter the number:"))
result=1
for i in range(b):
  result=result*a
print(result)

enter the number:5
enter the number:2
25

## Question 16 (Hard)

**Title:** Check Prime Number

### Problem Statement:
Take a number as input and check whether it is prime or not.

### Approach:
Loop from 2 to N-1 and use `break` if divisible.

In [22]:
n = int(input("Enter a number:"))

if n < 2:
    is_prime = False
elif n == 2:
    is_prime = True
else:
    is_prime = True
    for i in range(2, n):
        if n % i == 0:
            is_prime = False
            break

if is_prime:
    print(f"{n} is a prime number.")
else:
    print(f"{n} is not a prime number.")

Enter a number:15
15 is not a prime number.

## Question 17 (Hard)

**Title:** Prime Numbers Between 1 and N

### Problem Statement:
Take N as input and print all prime numbers between 1 and N.

### Approach:
Use nested loops and a flag variable for prime checking.

In [23]:
n = int(input("Enter the upper limit N:"))

print(f"Prime numbers between 1 and {n} are:")

for num in range(2, n + 1):
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num)

Enter the upper limit N:20
Prime numbers between 1 and 20 are:
2
3
5
7
11
13
17
19

## Question 18 (Hard)

**Title:** First Number Divisible by 7 and 11

### Problem Statement:
Take N as input and find the first number between 1 and N that is divisible by both 7 and 11. Stop after finding it.

### Approach:
Use logical AND and stop the loop using `break`.

In [26]:
n = int(input("Enter the upper limit N:"))

found = False
for i in range(1, n + 1):
    if i % 7 == 0 and i % 11 == 0:
        print(f"The first number divisible by both 7 and 11 between 1 and {n} is: {i}")
        found = True
        break

if not found:
    print(f"No number found between 1 and {n} divisible by both 7 and 11.")

Enter the upper limit N:200
The first number divisible by both 7 and 11 between 1 and 200 is: 77

## Question 19 (Hard)

**Title:** Number Pattern

### Problem Statement:
Take N as input and print a right-angled number pattern using nested loops.

Example:
1
12
123

### Approach:
Use an outer loop for rows and an inner loop for printing numbers.

In [28]:
n = int(input("Enter the number N:"))

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end="")
    print()

Enter the number N:10
1
12
123
1234
12345
123456
1234567
12345678
123456789
12345678910