# Python Arithmetic Operators Practice Notebook

# Q1  Addition

Write an expression that adds `8` and `12` and prints the result.

In [1]:
# Answer here
a=8
b=12
c=a+b
print(c)

20

# Q2  Subtraction

Write an expression that subtracts `7` from `20` and prints the result.

In [2]:
# Answer here
a=20
b=7
print(a-b)

13

# Q3  Multiplication

Write an expression that multiplies `6` by `9` and prints the result.

In [8]:
# Answer here

Result = 6*9
print(Result)

54

# Q4  Division

Write an expression that divides `45` by `9` and prints the result (normal division).

In [10]:
# Answer here
a=45
b=9
c=45/9
print(c)

5.0

# Q5  Floor Division

Write an expression that floor-divides `45` by `9` and prints the result.

Then floor-divide `50` by `6` and print the result to see how floor division works.

In [13]:
# Answer here
a=45
b=9
c=45//9
print(c)

a=50
b=6
c=50//6
print(c)

5
8

# Q6  Modulus

Write an expression that computes the remainder when `29` is divided by `5` and prints it.

In [14]:
# Answer here

a=29
b=5
c=29%5
print(c)

4

# Q7  Power

Compute `3` raised to the power `4` and print the result using the `**` operator.

In [15]:
# Answer here

a=3
b=4
print(a**b)

81

# Q8  Unary plus and minus

Assign a positive number to a variable `x` and print `+x` and `-x`. Observe the outputs.

In [11]:
# Answer here

d=8

print(+d)
print(-d)

8
-8

# Q9  Combined expression and operator precedence

Without using parentheses, write an expression that computes `5 + 3 * 2` and prints the result. Then add parentheses to change the order so that addition happens first: `(5 + 3) * 2`.

In [16]:
# Answer here

a=5
b=3
c=2
print(a+b*c)
print((a+b)*c)

11
16

# Q10  Using variables

Assign two variables `a = 15` and `b = 4`. Compute and print **all** arithmetic operations between them: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

In [17]:
# Answer here

a=15
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

19
11
60
3.75
3
3
50625

# Q11 - Compound assignment

Start with `n = 10`. Use compound assignment operators to:
- add 5 (`n += 5`), print
- multiply by 2 (`n *= 2`), print
- subtract 4 (`n -= 4`), print
(Place each statement so students can see the updated `n` after each operation.)

In [21]:
# Answer here

n=10
n+=5
print(n)

n*=2
print(n)

n-=4
print(n)

15
30
26

# Q12  Swapping values (without a third variable)

Given `x = 3` and `y = 7`, swap their values using Python tuple assignment and print `x` and `y` after swapping.

In [22]:
# Answer here

x=3
y=7
x,y=y,x
print(x)
print(y)

7
3

# Q13 - Input: Sum of two numbers

Ask the user to input two numbers (integers). Add them and print `Sum: <result>`.

In [24]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

result=num1+num2
print("Sum:",result)

Enter first number: 10
Enter second number: 12
Sum: 22

# Q14 - Input: Average of three numbers

Ask the user to input three numbers (floats allowed). Compute their average and print `Average: <result>`.

In [29]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.

num1 =int(input("Enter first number: "))
num2 =float(input("Enter second number: "))
num3 =int(input("Enter third number: "))

result=(num1+num2+num3)/3
print("Average:",result)

Enter first number: 4
Enter second number: 2.5
Enter third number: 6
Average: 4.166666666666667

# Q15 - Input: Circle calculations

Ask the user to input the radius of a circle (float). Compute and print:
- Circumference = `2 * 3.14159 * radius`
- Area = `3.14159 * radius ** 2`

In [30]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.

radius = float(input("Enter the radius of the circle: "))

Circumference = 2 * 3.14159 * radius
Area = 3.14159 * radius ** 2

print("Circumference:", Circumference)
print("Area:", Area)

Enter the radius of the circle: 5.5
Circumference: 34.55749
Area: 95.0330975

# Q16 - Input: Convert total seconds to hours, minutes, seconds

Ask the user to input a total number of seconds (integer). Convert it to hours, minutes, and seconds and print as `H:M:S`.

In [31]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.

total_seconds = int(input("Enter the total number of seconds: "))
hours = total_seconds // 3600
minutes = (total_seconds % 3600) // 60
seconds = total_seconds % 60

print(f"{hours}:{minutes}:{seconds}")

Enter the total number of seconds: 5000
1:23:20

# Q17 - Input: Simple interest calculation

Ask user for `principal`, `rate` (annual percent), and `time` (years). Compute simple interest as `(principal * rate * time) / 100` and print `Interest: <result>`.

In [33]:
# Answer here

principal=float(input("Enter the principal amount: "))
rate=float(input("Enter the annual interest rate: "))
time=float(input("Enter the time period in years: "))

interest=(principal*rate*time)/100

print("Interest:",result)

Enter the principal amount: 4050
Enter the annual interest rate: 8
Enter the time period in years: 3
Interest: 4.166666666666667