#  Python Sets â€“ Practice Questions

### Q1
Create a set from the list below and print only the unique values.

```python
data = [10, 20, 20, 30, 40, 40]
```

In [ ]:
# write your code here

data = [10, 20, 20, 30, 40, 40]
s1 = set(data)
print(s1)

{40, 10, 20, 30}

### Q2
What will be the output? Explain why.

```python
s = {1, 2, 3, 3, 2}
print(s)
```

In [ ]:
# write your code here

s={1,2,3,3,2}
print(s)

{1, 2, 3}

The output will be {1,2,3}, because set prints a value once irrespective of its recurrence in the list or the tuple.

### Q3
Create an empty set and add numbers from 1 to 5 using a loop.

In [ ]:
# write your code here

s = set()
for i in range(1,6):
    s.add(i)
print(s)

{1, 2, 3, 4, 5}

### Q4
Why does this code give an error? Fix it.

```python
s = {}
s.add(10)
```

In [ ]:
# write your code here

s = set()
s.add(10)

The code throws an error because we have used curly brackets to form an empty set. However, if we use {} to form an empty set, it becomes an empty dictionary not a Set. we have corrected the code by using s=set().

### Q5
Given:
```python
A = {2, 4, 6, 8}
B = {4, 8, 12}
```
Find Union, Intersection, A-B

In [ ]:
# write your code here

A = {2, 4, 6, 8}
B = {4, 8, 12}
print(A.union(B))
print(A.intersection(B))
print(A.difference(B))

{2, 4, 6, 8, 12}
{8, 4}
{2, 6}

### Q6
Check whether 15 exists in the set {5, 10, 15, 20}.

In [ ]:
# write your code here

s = {5,10,15,20}
if 15 in s:
    print("15 exists in the set")

15 exists in the set

### Q7
Remove element 30 safely from {10, 20, 30, 40}.

In [ ]:
# write your code here

s = {10,20,30,40}
s.discard(30)
print(s)

{40, 10, 20}

### Q8
Count unique elements in:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [ ]:
# write your code here

nums = [1, 2, 2, 3, 4, 4, 5]
s = set(nums)
print(len(s))

5

### Q9
What will be the output?
```python
s = {10, 20, 30}
s.add(20)
print(len(s))
```

In [ ]:
# write your code here

s = {10, 20, 30}
s.add(20)
print(len(s))

3

### Q10
Can a set contain a list? Why?
```python
s = {1, 2, [3, 4]}
```

In [ ]:
# write your code here

s = {1, 2, [3, 4]}

TypeError: unhashable type: 'list'

No, a Set cannot contain a list directly, because, lists are mutable and Sets are immutable. in order to store any data in a set, we can use tuple. a list is not supported.

### Q11
Convert {100, 200, 300} into list and print first element.

In [ ]:
# write your code here

s = {100, 200, 300}
l = list(s)

print(l)
print(l[0])

[200, 100, 300]
200

### Q12
Students in two classes:
```python
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
```

In [ ]:
# write your code here

class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}

print(class_A.union(class_B))

{'Riya', 'Aman', 'Neha', 'Simran', 'Karan'}

### Q13
Find unique characters in:
```python
text = 'programming'
```

In [ ]:
# write your code here

text = 'programming'
s = set(text)
print(s)

{'r', 'a', 'm', 'p', 'o', 'i', 'n', 'g'}

### Q14
Remove duplicate words from:
```python
sentence = 'python is easy and python is powerful'
```

In [ ]:
# write your code here

sentence = 'python is easy and python is powerful'
l = sentence.split()
s = set(l)
print(s)

{'is', 'easy', 'and', 'python', 'powerful'}

### Q15
What is the output?
```python
s = set('hello')
print(s)
```

In [ ]:
# write your code here

s=set('hello')
print(s)

{'e', 'o', 'l', 'h'}